.errorMessage {
 color: red
}
.groupInputLogin {
 width: 300px;
 padding: 20px;
}
.formLogin{
 background-color: black;
 color: white;
 width: 300px;
 margin-left: 20px;
}
.confirmLogin {
 background-color: black;
 color: white;
 margin-left: 20px;
 margin-top: 20px;
 width: 300px;
 text-align: center;
}
.title{
 text-align: center;
}